<!DOCTYPE html>
<html lang="en">
<head>
  <title>Manage Records</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/rep/firebase-app.js"></script>
  <script src="/rep/firebase-analytics.js"></script>
  <script src="/rep/firebase-firestore.js"></script>
  <script src="/rep/firebase-auth.js"></script>
  <script src="/rep/JsBarcode.all.min.js"></script>
<script src="/rep/firebase-database.js"></script>
  <link rel="stylesheet" href="/rep/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="/rep/jquery.min.js"></script> 
  <!-- <script src="/rep/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="/rep/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!-- <script src="/rep/bootstrap2.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>          -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src='/rep/socket.io.js'></script>
<script defer src="/rep/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="/rep/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src='/jscodes/moment.js'></script>
</head>
<link rel="stylesheet" href="/css/myth22/managerecords.css">
<body onload="myFunction3()">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h2><b>LabX</b></h2>
            </div>
            <ul class="list-unstyled components">
              <p class="search" id="machinename" style="font-size:22px;">Orphee Mythic 22</p>
              <li >
                <a href="/home">Main Dashboard</a>
            </li>
            <li>
              <a href="#homeSubmenu1"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Run Samples</a>
              <ul class="collapse list-unstyled show" id="homeSubmenu1">
               
            </ul>
          </li>
            <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Records</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/myth18/records">Mythic 18</a>
                </li>
                <li>
                    <a href="/myth22/records">Mythic 22</a>
                </li>
                <li>
                    <a href="/myth60/records">Mythic 60</a>
                </li>
            </ul>
            </li>
            <li>
              <a href="/about">Contact Us</a>
          </li>
            <li>
              <a href="/settings">Settings</a>
          </li>
          </ul>
      </nav>
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn" style="background-color:transparent">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link mr-1 my-1 date" href="#" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" style="color:white"><div id="date"></div>
                          <div id="date1"></div>  </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link mr-2 my-1 clock" href="#" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" style="color:white"><div id="clock"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sessionLogout" role="button"><img src="https://firebasestorage.googleapis.com/v0/b/analyzerdb.appspot.com/o/logout.png?alt=media&token=e849b0b4-1e57-49c4-8ff4-412c2a9ade1d" alt="User" width="27px" height="27px"></a>
                        </li>
                    </ul>
                </div>
            </div>   
        </nav>
        <div id="container" class="container">
          <div class="header">
            <div class="logo image"><img id="logo1" width="155px" height="155px"></div>
              <div class="header image"><img id="header1" width="550px" height="180px"></div>
          </div>
        </div>
      <div class="container">
          <p id="clicks1">Clicks: <a id="clicks">0</a></p>
          <div class="first">
          <div class="p-1 row">
          <div class="col-lg-8"><div class="run">Manage Records</div>
          </div>  </div>
          <div class="tabletext">
            <div class="row">
             <div class="col-md-4">
                 <table class="table table-borderless table-fluid">
           <thead>
            <tr id="sid1" class="w-30">
              <th id="sss" class="w-30" style="text-align:left">SID:<th class="no-gutters" style="text-align:left"></b><select id="sidselect" class="selectpicker select-sid" data-size="4" data-live-search="true" data-width="80%">
                <option disabled selected value>Select an Option</option>
               
              </select></b></div></th></th></div>
              </tr>
          </thead>
          </tbody>
          </table>
          </div>
          <div class="col-md-5" id="font_results">
            <table class="table table-borderless table-fluid">
        <thead>
          <th  id="trd" class="w-30" style="text-align:left">Test Run Date:<th class="no-gutters" style="text-align:left">
            <div class="dropdown bootstrap-select fit-width show"></div>
            <select data-date-format='yyyy-mm-dd' class="selectpicker select-dte" id= "dateselect1" onchange="sidfunction()" data-size="4" data-live-search="true" data-width="85%" >
            <option disabled selected value>Select an Option</option>
           
            </select></div>
          </div></th></th></div>
      </tr>
  </thead>
  </tbody>
  </table>
  </div>
          <div class="col-md-3">
              <table class="table table-borderless table-fluid">
            <thead>
              <div class="btn-group mr-1 " role="group">
                <button id="resetbtn" class="btn btn-rst text-light" onClick="window.location.reload();">Reset</button></div>
              <div class="btn-group mr-1 " role="group">
              <button id="submitdata" class="btn btn-sbmt text-light" onClick="onClick()" class="button"><span>Submit</span></div>
            </tr>
            </thead>
            </tbody>
            </table>
            </div>
         </tr>
        </thead>
        </tbody>
        </table>
        </div>
        <div class="tabletext">
          <div class="row">
          <!--<div class="col-md-1"></div>-->
          <div class="col-md-4">
            <table id="fname1" class="table table-borderless table-fluid">
      <thead>
        <tr id="fn1">
    <th class="w-30" style="text-align:left"><div class="inputBoxFname">First Name: <input id="fnameinputs"  type="text" required=""/></div></th></tr>
  </tr>
  <tr id="ln1">
   <th class="w-30" style="text-align:left"><div class="inputBoxLname">Last Name: <input id="lnameinputs"  type="text" oninput="Update(this.value,'LastName')" required=""/></div></th>
   </tr>
  </thead>
  </tbody>
  </table>
  </div>

  <div class="col-md-2">
            <table id="lname1" class="table table-borderless table-fluid">
      <thead>
       <tr id="age1">
         <th class="w-30" style="text-align:left"><div class="inputBoxAge">Age: </div><input id="ageinputs"  type="number" min="1" max="99" required=""/> </th></tr>
       </tr>
          <tr id="gender1">
            <th class="w-30" style="text-align:left"><div class="inputBoxGender">Gender: 
              <select id="genderselect" class="selectpicker select-gen" data-size="3" data-width="85%">
                <option disabled selected value>Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select></b></div></th></th></div>
            </th>
          </tr>
      </thead>
  </tbody>
  </table>
  </div>
  <div class="col-md-4">
            <table id="timephys"class="table table-striped table-borderless table-fluid">    
      <thead>
        <tr id="pn1">
          <th class="w-40" style="text-align:left"><div class="inputBoxDocname">Requesting Physician:<input id="physicianinputs" type="text" required=""></input></div></th>
        </tr>

        <tr id="time">
          <th class="time" style="text-align:initial"><div class="inputBoxTime">Time:<u></div><input id ='timeinputs' disabled></th>
        </tr>

  </thead>
  </tbody>
  </table>
  </div>
  
  <div class="col-md-2">
    <table id="bldtyp"class="table table-striped table-borderless table-fluid">    
<thead>
<tr id="bld1">
  <th class="w-40" style="text-align:left"><div class="inputBloodType"><b>Blood Type:</b><select class="selectpicker select-bld" id="bloodselect" required="" data-size="3" data-width="67%">
    <option disabled selected value>Type</option>
    <option>A+</option>
    <option>AB+</option>
    <option>B+</option>
    <option>O+</option>
    <option>A-</option>
    <option>AB-</option>
    <option>B-</option>
    <option>O-</option>
    <option>-</option>
  </select></div>
</th>
</tr>

</thead>
</tbody>
</table>
</div>
</div>
   <table id="results" class="table table-bordered">   
      <tr id="seq">
        <th >Test</th>
        <th>Results</th>
        <th>Reference Range</th>
        <th>Unit</th>
      </tr>
    
      <tr id="wbc">
        <td id="seq2">WBC Count</td>
      </tr>
    
      <tr id="neu">
        <td id="seq2">Neutrophil</td>
      </tr>
    
      <tr id="lym">
        <td id="seq2">Lymphocyte</td>
      </tr>
    
      <tr id="mon">
        <td id="seq2">Monocyte</td>
      </tr>
    
      <tr id="eos">
        <td id="seq2">Eosinophil</td>
      </tr>
    
        <tr id="bas">
        <td id="seq2">Basophil</td>
      </tr>
    
      <tr id="rbc">
        <td id="seq2">RBC Count</td>
      </tr>
    
      <tr id="hgb">
        <td id="seq2">HGB</td>
      </tr>
    
      <tr id="hct">
        <td id="seq2">HCT</td>
      </tr>
    
      <tr id="mcv">
        <td id="seq2">MCV</td>
      </tr>
    
      <tr id="mch">
        <td id="seq2">MCH</td>
      </tr>
    
      <tr id="mchc">
        <td id="seq2">MCHC</td>
      </tr>

      <tr id="plt">
        <td id="seq2">PLT</td>
      </tr>
      
      <tr id="bloodtype">
        <td id="seq2">Blood Type/Group</td>
      </tr>
    </table>
          </div>

          <!-- LOCALHOST6969: MYTHIC 22 -->
          <div class="row no-gutters">
              <div class="col-12">
                <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-1 " role="group">
                          <button id="updatebtn" class="btn btn-updt text-info"  data-toggle="modal" data-target="#ModalCenterUpd">Update</button></div>
                          <div class="modal fade" id="ModalCenterUpd" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-backdrop="false">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title text-modal-header" id="ModalLongTitle">Are you sure you want to Update data?</h5>
                                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>-->
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-updt text-info" onClick="updatefunction();">Update</button>
                                  <button type="button" class="btn btn-rst text-light" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="btn-group mr-1 " role="group">
                            <button id="deletebtn" class="btn btn-dlt text-light"  data-toggle="modal" data-target="#ModalCenter">Delete</button></div>
                            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-backdrop="false">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title text-modal-header" id="ModalLongTitle">Are you sure you want to Delete data?</h5>
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>-->
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-dlt text-light" onClick="deletefunction();">Delete</button>
                                    <button type="button" class="btn btn-rst text-light" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="btn-group mr-1 " role="group">
                              <button id="scnrbtn" class="btn btn-scnr text-light" data-toggle="modal" data-target="#ModalCenterScn">Barcode Scanner</button></div>
                              <div class="modal fade" id="ModalCenterScn" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header" style="align-content: center;">
                                      <h5 class="modal-title text-modal-header"  id="ModalLongTitle">
                                        <strong>Scanned Barcode: </strong>
                                        <div id="last-barcode"></div>
                                        <svg id="barcode1"></svg>
                                      </h5>
                                      </button>
                                    </div>
                                    <div class="modal-footer">
                                      <div class="btn-group mr-1 " role="group">
                                        <button id="printbtn" class="btn btn-prnt text-light" onClick="printfunction()">Print</button></div>
                                      <div class="btn-group mr-1 " role="group">
                                      <button id="clbtn" class="btn btn-rst text-light" data-dismiss="modal">Close</button></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        <div class="btn-group mr-1 " role="group">
                        <button id="printbtn" class="btn btn-prnt text-light" onClick="printfunction()">Print</button></div>
                    </div></div>                      
                  </div>
              </div>
          </div>
          
          <div class="row">
            <div class="col-pl-3"><svg id="barcode2"></svg></div>
            <div class="col-md-2"><div id="signatories"><img id="signatories1" width="730px" height="118px"></div>
            </div>
            </div>

            
         

            <script src="/jscodes/date.js"></script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>        
  <script src="/jscodes/myth22/managerecords.js"></script>    
  <script src="/jscodes/navbutton.js"></script>
   <script src="/jscodes/dateresults.js"></script>
      </body>
      </html>